<%- include("layout/navbar")%>
    <main>
        <h1><u>About Myself</u></h1>
        <p> My name is Yakubu Abdul Aziz. 
            I completed my studies at Ghana Communication Technology University in 2021.<br>
             Born on December 12, 1998, 
             <br>I have cultivated a deep passion for technology and software development. <br>
             My ambition is to become a senior software engineer, <br>
             a position that will allow me to innovate, <br>
             solve complex problems, and contribute meaningfully to the tech industry.<br>
              I am committed to lifelong learning and professional growth, <br>
              aiming to make a lasting impact in my field.</p>
    </main>
    <%- include("layout/footer")%>
</body>
</html>